files:
    "/etc/php.d/99uploadsize.ini":
        mode: "000644"
        owner: root
        group: root
        content: |
            upload_max_filesize = 100M
            post_max_size = 100M
packages:
  yum:
    libmemcached-devel: []
option_settings:
    aws:elasticbeanstalk:container:php:phpini:
        document_root: /public
    aws:elasticbeanstalk:environment:process:default:
        HealthCheckPath: /health-check
container_commands:
    01-migration:
        command: "php artisan migrate --force"
        leader_only: true
commands:
    01_install_memcached:
        command: /usr/bin/yes 'no'| /usr/bin/pecl install memcached
        test: test ! -f .memcached_lock
    02_rmfromphpini:
        command: /bin/sed -i -e '/extension="memcached.so"/d' /etc/php.ini
        test: test ! -f .memcached_lock
    03_createconf:
        command: /bin/echo 'extension="memcached.so"' > /etc/php.d/41-memcached.ini
        test: test ! -f .memcached_lock
    04_createlock:
        command: touch .memcached_lock
        test: test ! -f .memcached_lock